@import './search/styles/main.css';

.app {
    padding: 60px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.loading {
    display: flex;
    justify-content: center;
    padding: 20px;
}